<p>Bonjour {{user.name}},</p>
<p>
    Vous recevez ce courriel suivant votre demande pour reinitialiser 
    le mot de passe de votre compte.
</p>
<p>
    Veuillez cliquer sur le lien, ou coller le sur votre navigateur 
    pour compléter la procédure:
    <a href='{{resetLink}}'>{{resetLink}}</a>
</p>

<p>
    Si vous n'avez pas fait ne demande de reinitialisation, ignorez ce courriel est votre 
    mot de passe restera inchangé.
</p>
<p>
    Bien à vous,<br/>
    L'équipe de BookEU
</p>