<p>Bonjour {{user.name}},</p>
<p>
    Vous recevez ce courriel parcequ,une tâche {{taskType}} a été attribué a votre compte 
   par l'équipe de Bookeu
</p>
<p>Veullez vérifier vos tâches pour plus de renseignements.</p>
<p>
  Bien à vous,<br/>
  L'équipe de BookEU
</p>