<p>Bonjour,</p>
<p>
    Vous recevez ce courriel parce que votre tâche {{taskType}} a été examiné 
    par l'équipe de BookEU
</p>
<p>{{statusSpecificText}}</p>
<p>
  Bien à vous,<br/>
  L'équipe de BookEU
</p>