<p>Bonjour,</p>
<p>un compte bookEU whitelabel a été crée pour {{whitelabelName}}.</p>
<p>Vous avez été enregistrer comme administrateur de ce compte.</p>
<p>
    Veuilez cliquer sur le lien ci dessous, ou coller le sur le navigateur pour complèter 
    l'enregistrement:
    {{verifyLink}}
</p>
<p>
    Veuillez garder ce lien a porter de main pour vos ouverture de séssions suivantes: {{hostname}} <br/>
    Mot de passe: {{adminUser.email}}
</p>
<p>
    Bien à vous,<br/>
    L'équipe Bookeu
</p>