<p>Hello {{user.name}},</p>
<p>
    You are receiving this email because a {{taskType}} task has assigned to
    your account by the bookEU team
</p>
<p>Please check your tasks for further instructions.</p>
<p>
  Best regards,<br/>
  The bookEU Team
</p>
