<p>Hello,</p>
<p>
    You are receiving this email because your {{taskType}} task has been
    reviewed by the bookEU team.
</p>
<p>{{statusSpecificText}}</p>
<p>
  Best regards,<br/>
  The bookEU Team
</p>
