<p>Hello,</p>
<p>A bookEU whitelabel account has been created for {{whitelabelName}}.</p>
<p>You have been set as the account admin.</p>
<p>
    Please click on the following link, or paste this into your browser to complete
    the sign-up process:
    {{verifyLink}}
</p>
<p>
    Please keep this link handy for successive logins: {{hostname}} <br/>
    Username: {{adminUser.email}}
</p>
<p>
    Best regards,<br/>
    The bookEU Team
</p>
